#icon-bar{
    display: flex; 
    list-style-type: none; 
    padding: 0;
    justify-content: center;
    align-items: center;
}

#icon-bar li{
    margin-right: 2.5rem; 
    padding: 5px 10px; 
}

a {
    text-decoration: none; 
    color: inherit;
    cursor: pointer;
    font-weight: 500;
}

a:hover{

    opacity: 0.5;
}