#products-title{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#products-container{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    row-gap: 30px; 
    column-gap: 30px;
    margin-bottom: 2rem;
    justify-content: center;
    align-items: center;
}

.card-produto{
    width: 100%;
    height: 100%;
}

#show-more{
    padding: 0.7rem 5rem;
    background-color: transparent;
    color: #B88E2F;
    border: 1px solid #B88E2F;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

#show-more:hover{
    background-color: #B88E2F;
    color: #fff;
}