#cardproduto-container {
    display: grid;
    grid-template-rows: 2fr 1fr; 
    grid-template-columns: 1fr; 
    height: 100%;
    width: 100%;
    position: relative;
}

#container-value{
    display: flex;
}

#container-value h4{
    opacity: 0.5;
    font-weight: 400;
    text-decoration: line-through;
}

#img-produto {
    position: relative;
    display: inline-block;
}

#bolinha2 {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    background-color: #E97171; 
    color: white;
    border-radius: 50%; 
    width: 3rem;
    height: 3rem;
    text-align: center;
    line-height: 3rem; 
    font-size: 1rem; 
}