#browse-title{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

#browse-container{
    display: flex;
    width: 100vw;
    height: 30rem;
    justify-content: center;
    align-items: center;
}

.card-generico{
    margin-right: 1rem;
}