#products-title{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#shopproducts-container{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    row-gap: 30px; 
    column-gap: 30px;
    margin-bottom: 2rem;
}

.card-produto{
    width: 100%;
    height: 100%;
}