#final-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 90vw;
}

#container{
    height: 100%;
    width: 100%;
}

#line {
    width: 100%;
    height: 2px; 
    background-color: #000; 
    opacity: 0.3;
}

#rights{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 2rem;
}

#rights div{
    font-weight: 500;
}

